$bg: #1b1827;
$gray: #999;
$gray-medium: #5b5969;
$gray-dark: #383741;
$gray-darker: #2c2b33;
$std-space: 20px;
$cell-size: 40px;

$percent: 8%;

$red: #b70029;
$blue: #0e209a;
$green: #29a227;
$yellow: #ffef09;
$brown: #a5452f;
$pink: #ff9baa;
$turquoise: lightseagreen;
$violet: #790cc1;
$orange: orange;