@import "variables";
@import "mixins";

*, *:after, *:before {
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background: $bg;
    color: white;
    padding: 0;
    margin: 0;
}

.grid-frame {
    @include clear();
}

.grid {
    float: left;
    border: ($std-space/2) solid $bg;
    //border-top:none;

    .column {
        float: left;
    }

    &.grid-reverse .column {
        @for $i from 1 to 40 {
            &.top-#{$i} {
                padding-top: $cell-size * $i;
            }
        }
    }
}

.cell {
    color: transparent;
    //color: rgba(#000, 0.2);
    width: $cell-size;
    height: $cell-size;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 200ms;
    font-size: 10px;

    // -- Circle style -- //
    //border-radius: 20px;

    // -- Glass style -- //
    //$border-white: rgba(white, .1);
    //$border-black: rgba(black, .0);
    //border: 2px solid;
    //border-color: $border-white $border-black $border-black $border-white;

    // Outline connected
    border: 1px solid $bg;
    &.-connected-up {
        border-bottom: none; // the grid is flipped
    }
    &.-connected-down {
        border-top: none; // the grid is flipped
    }
    &.-connected-left {
        border-left: none;
    }
    &.-connected-right {
        border-right: none;
    }

    &:active {
        box-shadow: inset 1px 2px 5px rgba(#000, 0.5);
    }

    &.cell-color-red {
        @include gradient($red, darken($red, $percent));
    }
    &.cell-color-blue {
        @include gradient($blue, darken($blue, $percent));
    }
    &.cell-color-green {
        @include gradient($green, darken($green, $percent));
    }
    &.cell-color-yellow {
        @include gradient($yellow, darken($yellow, $percent));
    }
    &.cell-color-brown {
        @include gradient($brown, darken($brown, $percent));
    }
    &.cell-color-pink {
        @include gradient($pink, darken($pink, $percent));
    }
    &.cell-color-mint {
        @include gradient($turquoise, darken($turquoise, $percent));
    }
    &.cell-color-violet {
        @include gradient($violet, darken($violet, $percent));
    }
    &.cell-color-orange {
        @include gradient($orange, darken($orange, $percent));
    }
}


@import "toolbar";
@import "modal";


