$gray: #999;
$gray-medium: #555555;
$gray-dark: #333;
$gray-darker: #232323;
$std-space: 20px;

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $gray-dark;
    color: white;
}

@mixin clear() {
    & {
        display: block;
        clear: both;
    }

    &:before, &:after {
        clear: both;
        display: block;
        content: " ";
    }
}

.grid {
    @include clear();
}

.column {
    float: left;
}

.cell {
    color: rgba(#000, 0.2);
    width: 40px;
    height: 40px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms;
    font-size: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:active {
        -webkit-box-shadow: inset 1px 2px 5px rgba(#000, 0.5);
        -moz-box-shadow: inset 1px 2px 5px rgba(#000, 0.5);
        box-shadow: inset 1px 2px 5px rgba(#000, 0.5);
    }

    &.cell-color-red {
        background: #b70029;
    }
    &.cell-color-blue {
        background: #0c1b80;
    }
    &.cell-color-green {
        background: #29a227;
    }
    &.cell-color-yellow {
        background: #ffdc10;
    }
    &.cell-color-brown {
        background: #a5452f;
    }
    &.cell-color-pink {
        background: #ff9baa;
    }
    &.cell-color-mint {
        background: lightseagreen;
    }
    &.cell-color-violet {
        background: #640ca4;
    }
    &.cell-color-orange {
        background: orange;
    }
}

.toolbar {
    font-size: 16px;
    line-height: 30px;
    color: $gray-darker;
    //text-shadow: 1px 2px 3px $gray-dark, 0 0 0 #000, 1px 2px 3px $gray-dark;
    //text-transform: uppercase;

    .toolbar-item {
        display: block;
        float: left;
        padding: 0 ($std-space/2);
    }

    a {
        text-decoration: none;
        color: $gray-darker;

        &:active {
            color: darken($gray-darker, 5%);
            background: $gray-darker;
        }
    }
}

.modal-overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    background: rgba(black, .5);

    .modal {
        margin: $std-space auto;
        width: 300px;
        max-width: 80%;
        background: $gray-dark;
        padding: $std-space;
        color: $gray;

        cursor: pointer;

        -webkit-box-shadow: 1px 2px 5px rgba(#000, 0.5);
        -moz-box-shadow: 1px 2px 5px rgba(#000, 0.5);
        box-shadow: 1px 2px 5px rgba(#000, 0.5);
    }
}
