$bg: #1b1827;
$gray: #999;
$gray-medium: #5b5969;
$gray-dark: #383741;
$gray-darker: #2c2b33;
$std-space: 20px;
$cell-size: 40px;

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background: $bg;
    color: white;
    padding: 0;
    margin: 0;
}

@mixin clear() {
    & {
        display: block;
        clear: both;
    }

    &:before, &:after {
        clear: both;
        display: block;
        content: " ";
    }
}

@mixin gradient($start, $end, $rotation: -45deg) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
    //background: $start; /* Old browsers */
    //background: -moz-linear-gradient($rotation,  $start 0%, $end 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient($rotation,  $start 0%,$end 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180 + $rotation, $start 0%, $end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$end}', GradientType=1); /* IE6-9 */

}

.grid {
    @include clear();
    border: ($std-space/2) solid $bg;
    //border-top:none;

    .column {
        float: left;
    }

    &.grid-reverse .column {
        @for $i from 1 to 40 {
            &.top-#{$i} {
                padding-top: $cell-size * $i;
            }
        }
    }
}

.cell {
    color: transparent;
    //color: rgba(#000, 0.2);
    width: $cell-size;
    height: $cell-size;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 200ms;
    font-size: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:active {
        box-shadow: inset 1px 2px 5px rgba(#000, 0.5);
    }

    $percent: 10%;
    &.cell-color-red {
        @include gradient(#b70029, darken(#b70029, $percent));
    }
    &.cell-color-blue {
        @include gradient(#0e209a, darken(#0e209a, $percent));
    }
    &.cell-color-green {
        @include gradient(#29a227, darken(#29a227, $percent));
    }
    &.cell-color-yellow {
        @include gradient(#ffdc10, darken(#ffdc10, $percent));
    }
    &.cell-color-brown {
        @include gradient(#a5452f, darken(#a5452f, $percent));
    }
    &.cell-color-pink {
        @include gradient(#ff9baa, darken(#ff9baa, $percent));
    }
    &.cell-color-mint {
        @include gradient(lightseagreen, darken(lightseagreen, $percent));
    }
    &.cell-color-violet {
        @include gradient(#790cc1, darken(#790cc1, $percent));
    }
    &.cell-color-orange {
        @include gradient(orange, darken(orange, $percent));
    }
}

.toolbar {
    @include clear();
    font-size: 12px;
    line-height: 30px;
    color: $gray;
    background: $gray-darker;
    //border-bottom: ($std-space/2) solid $bg;
    //text-shadow: 1px 2px 3px $gray-dark, 0 0 0 #000, 1px 2px 3px $gray-dark;
    //text-transform: uppercase;

    .toolbar-item {
        display: block;
        float: left;
        padding: 0 ($std-space/2);

        &.-right {
            float: right;
        }

        &.version {
            color: $gray-medium;
        }

        .high-score {
            font-size: 10px;
            color: $gray-medium;
        }
    }

    a {
        text-decoration: none;
        color: $gray;

        &:active {
            color: $gray-medium;
            background: $gray-darker;
        }
    }
}

.modal-overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    background: rgba(black, .5);

    .modal {
        margin: $std-space auto;
        width: 300px;
        max-width: 80%;
        background: $gray-dark;
        padding: $std-space;
        color: $gray;

        cursor: pointer;

        -webkit-box-shadow: 1px 2px 5px rgba(#000, 0.5);
        -moz-box-shadow: 1px 2px 5px rgba(#000, 0.5);
        box-shadow: 1px 2px 5px rgba(#000, 0.5);
    }
}
