*, *:after, *:before {
  box-sizing: border-box; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background: #1b1827;
  color: white; }

.grid {
  border-bottom: 10px solid #1b1827; }
  .grid {
    display: block;
    clear: both; }
  .grid:before, .grid:after {
    clear: both;
    display: block;
    content: " "; }
  .grid .column {
    float: left; }
  .grid.grid-reverse .column.top-1 {
    padding-top: 40px; }
  .grid.grid-reverse .column.top-2 {
    padding-top: 80px; }
  .grid.grid-reverse .column.top-3 {
    padding-top: 120px; }
  .grid.grid-reverse .column.top-4 {
    padding-top: 160px; }
  .grid.grid-reverse .column.top-5 {
    padding-top: 200px; }
  .grid.grid-reverse .column.top-6 {
    padding-top: 240px; }
  .grid.grid-reverse .column.top-7 {
    padding-top: 280px; }
  .grid.grid-reverse .column.top-8 {
    padding-top: 320px; }
  .grid.grid-reverse .column.top-9 {
    padding-top: 360px; }
  .grid.grid-reverse .column.top-10 {
    padding-top: 400px; }
  .grid.grid-reverse .column.top-11 {
    padding-top: 440px; }
  .grid.grid-reverse .column.top-12 {
    padding-top: 480px; }
  .grid.grid-reverse .column.top-13 {
    padding-top: 520px; }
  .grid.grid-reverse .column.top-14 {
    padding-top: 560px; }
  .grid.grid-reverse .column.top-15 {
    padding-top: 600px; }
  .grid.grid-reverse .column.top-16 {
    padding-top: 640px; }
  .grid.grid-reverse .column.top-17 {
    padding-top: 680px; }
  .grid.grid-reverse .column.top-18 {
    padding-top: 720px; }
  .grid.grid-reverse .column.top-19 {
    padding-top: 760px; }
  .grid.grid-reverse .column.top-20 {
    padding-top: 800px; }
  .grid.grid-reverse .column.top-21 {
    padding-top: 840px; }
  .grid.grid-reverse .column.top-22 {
    padding-top: 880px; }
  .grid.grid-reverse .column.top-23 {
    padding-top: 920px; }
  .grid.grid-reverse .column.top-24 {
    padding-top: 960px; }
  .grid.grid-reverse .column.top-25 {
    padding-top: 1000px; }
  .grid.grid-reverse .column.top-26 {
    padding-top: 1040px; }
  .grid.grid-reverse .column.top-27 {
    padding-top: 1080px; }
  .grid.grid-reverse .column.top-28 {
    padding-top: 1120px; }
  .grid.grid-reverse .column.top-29 {
    padding-top: 1160px; }
  .grid.grid-reverse .column.top-30 {
    padding-top: 1200px; }
  .grid.grid-reverse .column.top-31 {
    padding-top: 1240px; }
  .grid.grid-reverse .column.top-32 {
    padding-top: 1280px; }
  .grid.grid-reverse .column.top-33 {
    padding-top: 1320px; }
  .grid.grid-reverse .column.top-34 {
    padding-top: 1360px; }
  .grid.grid-reverse .column.top-35 {
    padding-top: 1400px; }
  .grid.grid-reverse .column.top-36 {
    padding-top: 1440px; }
  .grid.grid-reverse .column.top-37 {
    padding-top: 1480px; }
  .grid.grid-reverse .column.top-38 {
    padding-top: 1520px; }
  .grid.grid-reverse .column.top-39 {
    padding-top: 1560px; }

.cell {
  color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 200ms;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .cell:active {
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.5); }
  .cell.cell-color-red {
    background: #b70029; }
  .cell.cell-color-blue {
    background: #0c1b80; }
  .cell.cell-color-green {
    background: #29a227; }
  .cell.cell-color-yellow {
    background: #ffdc10; }
  .cell.cell-color-brown {
    background: #a5452f; }
  .cell.cell-color-pink {
    background: #ff9baa; }
  .cell.cell-color-mint {
    background: lightseagreen; }
  .cell.cell-color-violet {
    background: #640ca4; }
  .cell.cell-color-orange {
    background: orange; }

.toolbar {
  font-size: 12px;
  line-height: 30px;
  color: #999; }
  .toolbar .toolbar-item {
    display: block;
    float: left;
    padding: 0 10px; }
    .toolbar .toolbar-item.-right {
      float: right; }
    .toolbar .toolbar-item.version {
      color: #555555; }
  .toolbar a {
    text-decoration: none;
    color: #999; }
    .toolbar a:active {
      color: #555555;
      background: #232323; }

.modal-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }
  .modal-overlay .modal {
    margin: 20px auto;
    width: 300px;
    max-width: 80%;
    background: #333;
    padding: 20px;
    color: #999;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */